
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#game-container-2048 {
    display: grid;
    grid-template-areas:
    "bestScore score reset"
    "game game game";
    grid-gap: 5px;
    justify-content: center;
    justify-items: center;
    max-width: 42em;
    margin: 0 auto;
    padding: 1em;
    background-color: #ffa8a5;
    border-radius: 30px;
}
nav #homebutton{
    float: left;
    margin: 2px;
    padding: 10px;
    
}
hr {
    width: 500px;
}

#board {
    width: 25em;
    height: 25em;
    background-color: #fbb38d;
    grid-area: game;
    border: 6px solid #f58b7e;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}
#board:focus-visible{
    outline-color: rgb(255, 241, 120);
}
.game-button {
    max-height: fit-content;
    box-sizing: border-box;
    border: 1px solid white;
    margin: 1em 0;
    padding: 0.4em;
    font-size: 1.2em;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}
#score {
    grid-area: score;
}
#best-score {
    grid-area: bestScore;
}
#reset {
    grid-area: reset;
}
.reset:hover {
    color: #ff9100;
    cursor: pointer;
    border: 1px solid #b66878;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}
#game-over-gif {
    width:30%;
    align-self: center;
}
/* tiles classes */
.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #ac6d7a;
    width: 90px;
    height: 90px;
    border: 5px solid #f58b7e;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


.x0 {
    color: transparent;
}

.x2 {
    background-color: #b66878;
    color: #42251f;
}

.x4 {
    background-color: #C98895;
    color: #42251f;
}

.x8 {
    background-color: #D49BA7;
    color: #42251f;
}

.x16 {
    background-color: #daabb5;
    color: #42251f;
}

.x32 {
    background-color: #efc3ca;
    color: #42251f;
}

.x64 {
    background-color: #ffc5cb;
    color: #42251f;
}

.x128 {
    background-color: #c4808a;
    color: #42251f;
}

.x256 {
    background-color: #C08081;
    color: #42251f;
}

.x512 {
    background-color: #C38683;
    color: #42251f;
}

.x1024 {
    background-color: #E08582;
    color: #42251f;
}

.x2048 {
    background-color: #F79391;
    color: #42251f;
}

.x4096 {
    background-color: #faaba2;
    color: #42251f;
}

.x8192 {
    background-color: #e3acac;
    color: #42251f;
}
/* animations */

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
  }
}