
#navigation {
    height: 15vh;
    width:  98vw;
    background-color: #fbb38d;
}
body{
    background-color: #f58b7e;
}
#homebutton{
    float:left;
    margin:2px;
    padding:10px;
}
#logout{
     float:right;
    height:10vh;
    width:20vw;
   font-size: 30px;
  margin: 15px ;
  background-color: #f58b7e;
  border: 1px solid #fbb38d;
}
#local{
    text-decoration: none;
}
form {
    width: 70vw;
    padding: 1em;
}
#button {
    width: rem;
    height: rem;
    color: white;
    background-color: black;
}
