body {
    background-color: #f58b7e;
    font-weight: bold;
    font-family: 'Concert One', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Tilt Neon', sans-serif;
}

#navigation {
    height: 12vh;
    width: 98vw;
    background-color: #fbb38d;
    /* padding-top:10px; */
    /* padding-bottom: 20px; */
    /* display: flex;
    justify-content: center; */
    align-items: center; 
}

#home-button img{
    float: left;
    margin:2px;
    padding: 8px;
    height: 60px;
    width: 30x;
}

#logout {
    float: right;
    height: 8vh;
    width: 20vw;
    font-size: 30px;
    margin:15px;
    background-color: #f58b7e;
    border: 1px solid #fbb38d;
    cursor: pointer;
    border-radius: 2em;

}
h1{
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: 40px;
   
    
}
image {
    text-decoration: none;
}

#logout:hover {

    border: 1px solid black;
}


#togglePassword {
    margin-top: -1.6em;
    margin-right: 0.5em;
    opacity: 0.5;
    align-self: flex-end;
    cursor: pointer;
}
a:visited{
    color:black;
}