body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    background-color: #293447;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.gamedetails {
    color: #b8c6dc;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

span {
    color: #b8c6dc;
}

.playboard {
    width: 100%;
    height: 100%;
    background-color: #212837;
    display: grid;
    grid-template: repeat(30, 1fr)/ repeat(30, 1fr);

}

.playboard .food {
    background-color: #ff003d;

}

.playboard .head {
    background-color: blue;
}

#snakeboard {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}